{% extends "base.html" %}
{% block title %} Add_Game {% endblock %}

  <body>
    {% block content %}
    <div class="container">
      <img src="{{url_for('static', filename='turtle.jpg')}}" align="middle" />
      <br>
      <p>Enter Your Game Details<p></p>
    </div>
      
    <form action="/add_games_done" method = "POST">
      <p>Enter Game Id As 0 <input type = "integer" name = 'game_id' /></p>
      <p>Enter Game Name <input type = "text" name = 'game_name' /></p>
      <p>Enter Release Year <input type = "integer" name = 'release_year' /></p>
      <p>Enter Genre <input type = "text" name = 'genre' /></p>
      <p>Enter Developer <input type = "text" name = 'dev' /></p>
      <p>Enter Publisher <input type = "text" name = 'pub' /></p>
      <p>Enter Platform<input type = "text" name = 'platform' /></p>
      
      <p>Do You Own This Game? 
        <select class="w3-select w3-border " name="own">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Yes</option>
        <option value="2">No</option>
        
      </select>
      
      <p>Do You Want To Add To Wishlist? 
        <select class="w3-select w3-border " name="wish">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Yes</option>
        <option value="2">No</option>
        
      </select>
      <p>Are You In Playing This Game At The Moment? 
        <select class="w3-select w3-border " name="play">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Yes</option>
        <option value="2">No</option>
        
      </select>
      <p>Have You Completed This Game? 
        <select class="w3-select w3-border " name="comp">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Yes</option>
        <option value="2">No</option>
        
      </select>
      <p><input type = "submit" value = "Submit" /></p>
    </form>
    
    
    {% endblock %}
    <div class="w3-display-middle">
      <h1> {{ message }} </h1>
      <div style="text-align: center;">
          <h1><a href="/login">back</a></h1>
      </div>
  </div>
  </body>
</html>