{% extends "base.html" %}
{% block title %} Publisher {% endblock %}

  <body>
    {% block content %}
    <div class="container">
      <img src="{{url_for('static', filename='turtle.jpg')}}" align="middle" />
      <br>
      <p>Enter Your Details<p></p>
    </div>
      
    <form action="/add_publisher_done" method = "POST">
      <p>Enter Publisher Id As 0 <input type = "integer" name = 'pub_id' /></p>
      <p>Enter Publisher <input type = "text" name = 'publisher' /></p>
      <p><input type = "submit" value = "Submit" /></p>
    </form>
    {% endblock %}
  </body>
</html>