<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        div.fixed {
            position: fixed;
            top: 40px;
            left: 0px;
        }
        body, html {
            height: 100%;
            margin: 0;
          }
        .responsive {
            width: 100%;
            height: 120%;
          }
        </style>



    {% block head %} 
    
    {% endblock %}
</head>
<body>
    {% block img %}
    {% endblock %}
{% block content %}{% endblock %}

    <div class="w3-top" style="opacity: 0.5;">
        <div class="ww3-bar w3-black">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            <a href="/add_games" class="w3-bar-item w3-button">Add Games</a>
            <a href="/add_genre" class="w3-bar-item w3-button">Add Genre</a>
            <a href="/help" class="w3-bar-item w3-button">Help</a>
        </div>
    </div>
        
        
</body>
</html>