{% extends "base.html" %}
{% block title %} Home {% endblock %}
  <body>
    {% block bar %}
        <h1>Homepage</h1>
    {% endblock %}
    {% block content %}
      

      
      <div class="w3-container">
        <div class="w3-panel w3-lightgrey w3-border w3-border-grey">
          <p>
            Welcome to my game tracker.
            Use the hamburger in top left to navigate.<br>
          1. Enter your game details(use add new game)<br>
          2. Using the other links you can view the tables with data you have entered<br>
          3. On the wishlist table you can update a game to owned using the box and entering the game_id<br>
          4. On the owned game table you can add a game to currently playing using the box and entering the game_id<br>
          5. On the currently playing table you can add a game to completed using the box and entering the game_id<br>

          </p>
        </div>
      </div>
    
    {% endblock %}
  </body>
</html>